Reset your password

Hi




{{ user.full_name }}




,

We received a request to reset the password for your




{{ appName }}




 account.

Open the following URL to choose a new password:





{{ resetUrl }}






This link expires in




{{ expiresInMinutes }}




 minutes and can be used only once.

If you did not request a password reset, you can safely ignore this email.






{{ appName }}




 Team





